body{
    margin:auto;
}

/* Start of Header */
header {
    height:68px;
}

#logo{
    height: 60px;
    width: 20%;
}

.icon{
    height:60px;
    width: 100%;
}

.dropdown{
    height: 60px;
    width: 50%;
    float: left;
    margin-left: 23%;
    margin-top: -4%;
}

select{
    height:50px;
    width:40%;
    margin-left: 1%;
    margin-top: 1%;
}

.city-select{
    height:50px;
    width:40%;
}

#info {
    height:50px;
    width: 22%;
    float: left;
    margin-top: -3%;
    margin-left: 77%;
    position: absolute;
}

.social{
    margin-right: 0%;  
    margin-top: 2%;
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color:white;
}
/* End of Header*/

/* Start  of detail Page */
#main{
    height: 1000px;
    width: 100%;
}

 /* Start of Menu Bar */
 #menubar{
    height: 30px;
    width: 100%;
    margin-top: 0.5%;
    background-color: rgb(63, 63, 228);
}

#menu{
    margin-left: 10%;
    float: left;
    width: 90%;
}

.mbutton{
    font-style: Bold;
    padding-left: 3%;
}

a{
    text-decoration: none;
    color: white !important;
}
/* End of Menu Bar */

#bord{
    height: 800px;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    border: 1px solid black;
    float: left;
}

/*Start of photo section of detailing page*/

#boxbor1{
    height: 600px;
    width: 45%;
    margin-top: 1%;
    margin-left: 3%;
    border: 1px solid black;
    float: left;
}

#frame1{
    height: 500px;
    width: 26%;
    margin-top: 8%;
    margin-left: 1%;
    border: 1px solid black;
    float: left;   
}

#frame2{
    height: 395px;
    width: 68%;
    margin-top: 15%;
    margin-left: 3%;
    border: 1px solid black;
    float: left;  
}
/*End of photo section of detailing page*/

/*Start of description section of detailing page*/
#boxbor2{
    height: 600px;
    width: 45%;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
    float: left;
}

#itframe{
    height:140px;
    width: 80%;
    float:left;
    margin-top: 4%;
    margin-left: 3%;
    border: 1px solid black;
}

#itname{
    height: 44px;
    width: 80%;
    float: left;
    margin-top: 2%;
    margin-left: 1%;
    border: 1px solid black;
}

#itrat{
    height: 36px;
    width: 12%;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    border: 1px solid black;
}

#itprice{
    height: 33px;
    width: 27%;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    border: 1px solid black;
}

#pricetag{
    height: 19px;
    width: 32%;
    float: left;
    margin-top: 10%;
    margin-left: -24%;
    color:grey;
}

#selectionframe{
    height:140px;
    width: 80%;
    float:left;
    margin-top: 1%;
    margin-left: 3%;
    border: 1px solid black;
}

#selectweight{
    height: 65px;
    width: 80%;
    float: left;
    margin-top: 0%;
    margin-left: 2%;
    border: 1px solid black;
}

.frameheading{
    height: 25px;
    width: 40%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    color:Black;
    font-family: Georgia;  
}

.quantitybox{
    
}

#selecttype{
    height: 65px;
    width: 49%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    border: 1px solid black;
}
/*End of description section of detailing page*/

/*End of main body of detailing page*/


/* Start Of Footer */
#footer{
    height:250px;
    width:100%;
    background-color:black;
    display: inline-block;
}

#headerbox{
    height:180px;
    width: 95%;
    margin-top: 1%;
    margin-left: 3%;
}

#logobox{
    height:60px;
    width: 20%;
    margin-top: 3%;
    margin-left: 4%; 
}

#logobox > img{
    height:60px;
    margin-top: -11%;
    margin-left: -7%;
}

#hb1{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 7%;
}

.hbheading{
    height: 45px;
    width:60%;
    margin-top: 1%;
    margin-left: 8%;
    float: left;
}

.hbhcss{
    margin-top:2%;
    margin-left:1%;
    font-size:30px;
    color:white;
    font-family: calibri;
}

.hbbox{
    height: 85px;
    width:80%;
    margin-top: 17%;
    margin-left: 12%;
}

#hb2{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

#hb3{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

#hb4{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

.hbbcss{
    font-size:15px;
    margin-left:1%;
    color:rgb(168, 159, 159);
    padding-top: 2%;
}

#social {
    float: left;
    margin-right: 1%;
}

.si{
    height: 30px;
    width: 30px;
}

/* End of Footer */
