body {
    margin:auto;
}

/* Start of Header */
header {
    height:68px;
}

#logo{
    height: 60px;
    width: 20%;
}

.icon{
    height:60px;
    width: 100%;
}

.dropdown{
    height: 60px;
    width: 50%;
    float: left;
    margin-left: 23%;
    margin-top: -4%;
}

select{
    height:50px;
    width:40%;
    margin-left: 1%;
    margin-top: 1%;
}

.city-select{
    height:50px;
    width:40%;
}

#info {
    height:50px;
    width: 22%;
    float: right;
    margin-top: -3%;
    margin-left: 0%;
}

.social{
    margin-right: 0%;  
    margin-top: 2%;
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color:white;
}
/* End of Header*/

/* Start of Menu Page */
#main{
    width: 100%;
    background: pink;
}

    /* Menu Bar */
    #menubar{
        height: 30px;
        width: 100%;
        margin-top: 0.5%;
        background-color: rgb(63, 63, 228);
    }

    #menu{
        margin-left: 10%;
        float: left;
        width: 90%;
    }

    .mbutton{
        font-style: Bold;
        padding-left: 3%;
    }

    a{
        text-decoration: none;
        color: white !important;
    }
    /* End of Menu Bar */

    /* Start of shop Page */
    #shoppage {
        width: 97%;
        float: left;
        margin-top: 1%;
        margin-left: 2%;
        display: inline-block;
    }

/* Start of Contents inside shop page */

     #tile1{
        height: 280px;
        width:99%;
        float: left;
        margin-top: 0.5%;
        margin-left: 0.5%;
        }

/* Start of shop details */
    #shimg{
        height: 252px;
        width:30%;
        position: absolute;
        float: left;
        margin-top: 0.5%;
        margin-left: 1%;
    }

    #shimg > img{
        width:100%;
        height:250px;
        border-radius: 10%;
    }

    #shname{
        height: 50px;
        width:60%;
        position: absolute;
        float: left;
        margin-top: 1.5%;
        margin-left: 33%;
    }

    .shnamebox{
        height: 55px;
        width:100%;
        margin-top: 0.5%;
        margin-left: 1%;
        font-size:35px;
        font-weight:bold;
        font-family: Georgia;
        color:rgb(75, 65, 218);
    }

    #shadd{
        height: 40px;
        width:50%;
        position: absolute;
        float: left;
        margin-top: 5.5%;
        margin-left: 33%;
    }

    #shaddbox{
        font-size:28px;
        width:100%;
        margin-top: 0%;
        margin-left: 1%;
        font-family: Georgia;
        color:rgba(40, 111, 218, 0.534);  
    }

    #keywords{
        height: 30px;
        width:40%;
        position: absolute;
        float: left;
        margin-top: 9%;
        margin-left: 33%;
    }

    #keybox{
        font-size:20px;
        width:100%;
        margin-top: 0%;
        margin-left: 1%;
        font-family: Georgia;
        color: grey;  
    }

    #shrat{
        height: 30px;
        width:5%;
        position: absolute;
        float: left;
        margin-top: 12%;
        margin-left: 33.75%;
        background-color:rgb(24, 133, 24);
    }
    
    .star > img{
        height:20px;
        width: 45%;
        margin-left: 53%;
        margin-top: 5.5%;
    }
    
    .number{
        font-size: 18px;
        margin-left: 8%;
        margin-top: -31%;
        color: white;
    }
    
    /* End of Shop details */

   
    #tile2 {
        height: 2700px;
        width: 98%;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 2%;
    }

/* Start of shop menu */

      #shfood{
        height: 50px;
        width:60%;
        margin-top: 0.5%;
        margin-left:25%;
    }

    /* Searching Box */
    #search{
        height:50px;
        width:55%;
        position:absolute;
        border-radius: 5%;
        box-shadow: 1px 2px 1px grey;   
    }

    #slength{
        width:100%;
        height:60px;
        font-size:23px;
    }
    /* End of Searching Box */

    /* Start of Filter Box*/

    #shfilter {
        height: 600px;
        width: 15%;
        position: absolute;
        margin-top: 8.5%;
        margin-left: 1%;
        border: 2px solid black;
    }

    #filterbox{
        border: 1px solid grey;
        box-shadow: 1px 0px 1px grey;
    }
    
    #fh{
        height:35px;
        width:90%;
        margin-top:4%;
        margin-left: 5%;
    }
    
    #fhc{
        font-size:33px;
        text-align: center;
        margin-top: -5%;
        margin-left: -1%;
        color:rgb(71, 63, 63)
    }
    
    .category0{
        height:260px;
        width:90%;
        margin-left:5%;
        margin-top: 8%;
        box-shadow: 1px 1px 1px grey;
    }
    
    #ch0{
        height:40px;
        width:94%;    
        margin-left: 3%;
        margin-top: 4%;
        font-size:26px;
    }
    
    #chbox0{
        height:180px;
        width:94%;    
        margin-left: 3%;
        margin-top: 4%;
    }
    
    #radiobox{
        height:195px;
        width:88%;    
        margin-left: 6%;
        margin-top: 0.5%;
    }
    
    .category1{
        height:235px;
        width:90%;
        margin-left:5%;
        margin-top: 8%;
        box-shadow: 1px 1px 1px grey;
    }
    
    #ch1{
        height:40px;
        width:94%;    
        margin-left: 3%;
        margin-top: 4%;
        font-size:23px;
    }
    
    #chbox1{
        height:155px;
        width:94%;    
        margin-left: 3%;
        margin-top: 3%;
    }
    
    #checkbox{
        height:165px;
        width:88%;    
        margin-left: 6%;
        margin-top: 2%;
    }
    
    /*  ENd of Filter Section */

    #container0{
        height: 480px;
        width: 82%;
        display: inline-block;
        margin-top: 1.5%;
        margin-left: 17%;
    }

    .containerheading{
        height: 45px;
        width: 30%;
        margin-top: 1%;
        margin-left: 3%;
    }

    #container1{
        height: 820px;
        width: 82%;
        display: inline-block;
        margin-left: 17%;
    }

    #container2{
        height: 480px;
        width: 82%;
        display: inline-block;
        margin-left: 17%;
    }

    #container3{
        height: 480px;
        width: 82%;
        display: inline-block;
        margin-left: 17%;
    }

    .box1{
        height: 270px;
        width: 100%;
        border: 1px solid black;
    }

    .box1 > img{
        height: 270px;
        width:100%;
        border-radius: 5%;
    }

    .box2{
        height: 80px;
        width: 100%;
        border: 1px solid black;
    }

    .itemname{
        height: 35px;
        width: 100%;
        margin-top:1%;
        border: 1px solid black;
    }

    .itemrate{
        height: 20px;
        width: 100%;
        margin-top:3%;
        border: 1px solid black;
    }

    .chbox{
        font-size:28px;
        font-style: bold;
        font-family: Georgia;
        color: red;
    }

    .cakebox{
        height:350px;
        width: 22%;
        margin-left: 3%;
        margin-top: 2%;
        float: left;
    }
/* End of shop menu */
/* End of Menu Page*/

/* Start Of Footer */
#footer{
    height:250px;
    width:100%;
    background-color:black;
    display: inline-block;
}

#headerbox{
    height:180px;
    width: 95%;
    margin-top: 1%;
    margin-left: 3%;
}

#logobox{
    height:60px;
    width: 20%;
    margin-top: 3%;
    margin-left: 4%; 
}

#logobox > img{
    height:60px;
    margin-top: -11%;
    margin-left: -7%;
}

#hb1{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 7%;
}

.hbheading{
    height: 45px;
    width:60%;
    margin-top: 1%;
    margin-left: 8%;
    float: left;
}

.hbhcss{
    margin-top:2%;
    margin-left:1%;
    font-size:30px;
    color:white;
    font-family: calibri;
}

.hbbox{
    height: 85px;
    width:80%;
    margin-top: 17%;
    margin-left: 12%;
}

#hb2{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

#hb3{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

#hb4{
    height:150px;
    width:22%;
    float: left;
    margin-top: -2.5%;
    margin-left: 1%;
}

.hbbcss{
    font-size:15px;
    margin-left:1%;
    color:rgb(168, 159, 159);
    padding-top: 2%;
}

#social {
    float: left;
    margin-right: 1%;
}

.si{
    height: 30px;
    width: 30px;
}

/* End of Footer */



