body{
    margin:auto
}

/* Start From The Header */

#header {
    height: 30px;
    background-color:lightpink;
}

a{
    text-decoration:none;
}

#social {
    float: right;
    margin-right: 1%;
}

.si{
    height: 30px;
    width: 30px;
}

#icon{
    margin-left: 1%;
    margin-top:-1%;
    position: absolute;
}

#listing{
    height: 400px;
    
}