body {
    margin:auto;
}

/* Start Of Header */
header {
    height:68px;
}

#logo{
    height: 60px;
    width: 20%;
}

.icon{
    height:60px;
    width: 100%;
}

.dropdown{
    height: 60px;
    width: 50%;
    float: left;
    margin-left: 23%;
    margin-top: -4%;
}

select{
    height:50px;
    width:40%;
    margin-left: 1%;
    margin-top: 1%;
}

.city-select{
    height:50px;
    width:40%;
}

#info {
    height:50px;
    width: 22%;
    float: left;
    margin-top: -3%;
    margin-left: 77%;
    position: absolute;
}

.social{
    margin-right: 0%;  
    margin-top: 2%;
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
    
}

/* End of Header */

/* Start Of Main */
#main{
    height: 950px;
    display: inline-block;
}

/* Menu Bar */
#menubar{
    height: 30px;
    width: 100%;
    margin-top: 0.5%;
    position: absolute;
    border: 1px solid black;
    background-color: rgb(63, 63, 228);
}

#menu{
    margin-left: 10%;
}

.mbutton{
    font-style: Bold;
    padding-left: 3%;
}

a{
    text-decoration: none;
    color: white !important;
}
/* End of Menu Bar */

/* Searching Box */
#search{
    height:60px;
    width:60%;
    position:absolute;
    margin-top: 3%;
    margin-left: 23%;
    border-radius: 5%;
    box-shadow: 1px 2px 1px grey;   
}

#slength{
    width:100%;
    height:60px;
    font-size:25px;
}
/* End of Searching Box */

/* Start of Listing page */
#headingbox{
    height:45px;
    width: 60%;
    position: absolute;
    margin-top: 9%;
    margin-left: 8%;
    font-size: 25px;
    font-style: bold;
    font-family: georgia, arial;
    color:rgb(128, 126, 126);
}


/*  Start of Filter Section */
#filterbox{
    height:500px;
    width:15%;
    position: absolute;
    margin-top: 13%;
    margin-left: 2%;
    border: 1px solid black;
}
/*  ENd of Filter Section */

/*  Start of Listing Conatiners */
#listingsection{
    height:800px;
    width:79%;
    position: absolute;
    margin-top: 10%;
    margin-left: 19%;
}

.container0{

    height:330px;
    width: 28%;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    border-radius: 10%;
    box-shadow: 2px 5px 2px gray;
}

.box0{
    height:255px;
    width: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.box0 > img{
    height: 253px;
    width: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.box1{
    height:75px;
    width: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
/* End of Listing Conatiners */

/* Start Of Footer */
#footer{
    height:50px;
    color: white;
    background-color:black
}



